.contacts, .rooms {
  width: 200px;
  margin: 10px;
  border-top: 1px solid white;

  &__list {
    padding: 10px;
  }

  &__name {
    width: 100%;

    &.selected {
      background-color: #464545;
    }

    &.edit {
      background-color: white;
      padding: 5px;
      min-width: 50px;
      color: #000;
    }
  }

  &__item {
    font-size: 18px;
    height: 25px;
    display: flex;
    justify-content: space-between;

    a {
      width: 100%;
    }
    & .selected {
      background-color: #464545;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.room-control {
  position: relative;
  z-index: 999;
  display: flex;
  margin-left: 10px;

  &__btn {
    font-size: 24px;
    width: 20px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
