.one_pm {
  position: fixed;
  left: 20px;
  bottom: 0px;
  cursor: pointer;
  font-family: Tahoma, Arial, Verdana, sans-srif
}

#hnp_sound {
  position: absolute;
  top: -1000px;
  left: -1000px
}

#hnp_author span {
  display: none
}

.h_newpm {
  position: relative;
  width: 350px;
  height: 110px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.h_newpm #hnp_author {
  color: #a4dcfa;
  font-weight: bold;
  text-decoration: none;
}

.h_newpm #hnp_author:hover {
  color: #a4dcfa;
  text-decoration: underline
}

.h_npin {
  padding: 14px;
  padding-top: 10px
}

.h_nptitle {
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 12px
}

.h_npimg {
  width: 57px;
  height: 57px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.h_npimg img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.h_npl {
  position: absolute;
  left: 13px;
  top: 38px;
  z-index: 3;
  width: 70px
}

.h_npr {
  position: absolute;
  left: 84px;
  top: 38px;
  z-index: 3;
  color: #FFF;
  font-size: 13px;
  padding-right: 14px
}

.h_npr #hnp_text, .h_npr #hnp_text:hover {
  display: block;
  text-decoration: none;
  color: #FFF
}

.h_newpm:hover .h_del {
  display: inline-block;
}

.h_del {
  position: absolute;
  display: none;
  top: 12px;
  right: 12px;
  z-index: 3;
  cursor: pointer;
  background: url('https://yraaa.ru/634294/del023.png') 0px 0px;
  width: 18px;
  height: 18px
}

.h_del:hover {
  background-position: 0px 18px
}

.h_nover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
