.message {
  margin-top: 10px;
  &__text {
    &--edit {
      background-color: white;
      padding: 5px;
      min-width: 50px;
      color: #000;
    }
  }

  &__time {
    margin-top: 3px;
    font-size: 10px;
    display: block;
  }

  &__name {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
  }

  &--me {
    text-align: right;
  }
}
