.chat {
  background-color: #303952;
  width: 960px;
  height: 600px;
  border-radius: 10px;
  display: flex;

  &__left {
    border-right: 1px solid white;
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.my-profile {
  margin: 20px;
}
