.auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__form {
    box-sizing: border-box;
    background-color: #303952;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    width: 300px;
  }

  &__input {
    margin-bottom: 5px;
  }

  &__btn-send {
    width: 100px;
  }

  fieldset {
    margin: 0;
    padding: 5px;
    border: none;
  }
}
