.contacts {
  width: 200px;
  margin: 10px;
  border-top: 1px solid white;
  position: relative;
  &__list {
    padding: 10px;
  }
  &__new-message{
    position: absolute;
    left: -5px;
    font-size: 10px;
    background-color: #ff0000f2;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
  }
  &__name {
    width: 100%;
    &.selected {
      background-color: #464545;
    }
    &.edit {
      background-color: white;
      padding: 5px;
      min-width: 50px;
      color: #000;
    }
  }
  &__item {
    font-size: 18px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    a {
      width: 100%;
    }
    & .selected {
      background-color: #464545;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
